<form (ngSubmit)="addStudent()">

  <h3>Add a New Student</h3>
 
  <input [(ngModel)]="newStudent.id" type="number" name="id" placeholder="Enter Id" required />
  <input [(ngModel)]="newStudent.name" type="text" name="name" placeholder="Enter name" required />
  <input [(ngModel)]="newStudent.city" type="text" name="city" placeholder="Enter city" required />
  <button type="submit">Add Student</button>

</form>



<br><br><hr>
  <table ><tr><th>Id</th><th>Name</th><th>City</th></tr>
  <tr *ngFor="let student of students"><td>{{ student.id }}</td>
  <td>{{ student.name }}</td>
  <td>{{ student.city }}</td>
  <td> <button (click)="deleteStudent(student.id)">Delete</button></td>
</tr>
</table>
